# Standard Exclusions
*custom*
*~
sitemap.xml
sitemap_*.xml

# Exclude Everything
*

# Include these
!_functions/runonce/*
!_settings/runonce.default.php

!_cron/hourly/runonce.php
!_sql/Runonces.sql
!_tests/runonce/test.runonce.php

!.codeclimate.yml
!.stylelintignore
!.codacy.yml
!.travis.yml
!.mdlrc
!.stylelintrc.json
!.eslintignore
!.gitignore
!.gitignore-runonce
!.eslintrc.json
!.mdlrc.style.rb

!LICENSE.md
!README.md
